#interaction-bar {
    margin-top: 15px;
    margin-bottom: 15px;
}

.box {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
}

.horizontal-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}
/* Dropdown Button */
.dropbtn {
    background-color: white;
    padding: 12px;
    font-size: 16px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 50px;
    width: 10vw;
    min-width: 100px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: black;
    color: white;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: white ;
    border: 2px solid black;
    border-radius: 25px;
    z-index: 1;
    padding: 10px 0px 10px 0px;
    height: 300%;
    overflow: auto;
    overflow-y: scroll;
    justify-content: start;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .dropdown-content::-webkit-scrollbar {
    display: none;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: flex;
    flex-direction: column;
  }

  .checkbox {
      justify-content: center;
      flex-direction: row;
      margin: 0% 10% 0% 10%;
  }