body {
    background-color: #fefefe;
    color: black;
}

#main-view{
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
}

.flex-container-below{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#div-chosen{
    width: 40%;
}

#div-barchart{
    width: 60%;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.title {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.text {
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

#first-view {
    width: 100%;
    height: 100%;
}

#second-view {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
}

#second-view > svg {
    width: 50%;
    height: 100%;
}

#bar-chart {
    width: 100%;
    height: 100%;
}

.round-edge-with-shadow {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }

.btn-style {
    background-color: rgb(236, 236, 236);
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    font-size: 16px;
    border: 0px solid black;
    cursor: pointer;
    min-width: 100px;
}

.btn-anim:hover {
    background-color: rgb(75, 75, 75);
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    color: white;
}

/* checkbox */

/* hide browser checkbox */
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
  }

/* checkbox style */
input[type="checkbox"] {
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
.form-control {
    margin-top: 1em;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    padding: 0.5em;
    gap: 0.5em;
  }

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }