/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  width: 10vw;
  min-width: 150px;
}


.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 16px 16px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgb(223, 223, 223);
  width: 100%;
  color: black;
  left: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}